<div class='delete-user'>
    Employee ID : <input style='border:none' size='30' label='Name' autocomplete="none" name="" placeholder="Employee Id" type="text"/><br><br>

    <button {{action 'deleteUser'}}>Submit</button>
</div>>
{{outlet}}