<div class='new-user'>
    <div class='new-data'>
        Email-ID :          <input style='border:none' size='30' label='Name' autocomplete="none" name="" placeholder="email" type="text"/><br><br>
        Employee Name : <input style='border:none' size='30' label='Name' autocomplete="none" name="" placeholder="Name" type="text"/><br><br>
        Employee ID : <input style='border:none' size='30' label='Name' autocomplete="none" name="" placeholder="Employee ID" type="text"/><br><br>
        Role : <select>
                <option value="HR">HR</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
        </select><br><br>
        Salary : <input style='border:none' size='30' label='Name' autocomplete="none" name="" placeholder="Salary" type="text"/><br><br>
        <form>
  <label for="birthday">Joining Date :</label>
  <input type="date" id="birthday" name="birthday">
</form><br>
        Address : <input style='border:none' size='30' label='Name' autocomplete="none" name="" placeholder="address" type="text"/><br><br>
        Mob No : <input style='border:none' size='30' label='Name' autocomplete="none" name="Mobile No" placeholder="Mobile No" type="text"/><br><br>
    </div>
    <button style='background-color:cornflowerblue;margin-left:300px'>Submit</button>
</div>
{{outlet}}