<div class='back-box'><h1 style='text-align:center'>Employee Details</h1>
    <div class='detailData'>
        <h5 style='color:black'>
            <label>Email-Id:nagesh@gmail.com</label><br>
            <label>Name:Nagesh Rupnar</label><br>
            <label>Employee-ID:123</label><br>
            <label>Joining-Date:12-12-2020</label><br>
            <label>Salary:15000</label><br>
            <label>Address:Hanuman Nagar Sangli</label><br>
            <label>Mob.No:9561032655</label><br>
        </h5>
    </div>
</div>
{{outlet}}